@charset "utf-8";

.content-menu > div,
#menu-01 .fixed {padding: 30px;background:#fff;}

#menu-01 {position:relative;padding:0;overflow: hidden;}
#menu-01 .intro {padding:30px;margin:0 auto;}
#menu-01 h1 {position:relative;font-size: 28px;line-height:40px;font-weight:bold;opacity:0;transition:opacity 0.5s ease;}
#menu-01 h1:after {display:block;content:'';position:absolute;left:0;bottom:-15px;width: 127px;height:1px;background:#484848;}
#menu-01 h1.active {opacity:1;transition-delay:0.8s;letter-spacing:-2px}
#menu-01 p.p01 {position:relative;font-size: 18px;line-height: 26px;opacity:0;transition:opacity 0.5s ease;padding-top:15px;margin-top:15px;}

#menu-01 p.p01.active {opacity:1;transition-delay:1s;}
#menu-01 .thumb {position:relative;opacity:0;transition:opacity 0.5s ease;margin-top:15px;/* z-index: 3; */}
#menu-01 .thumb:before {display:block;content:'';position:absolute;left: 50%;top:50%;height: calc(50% + 30px);z-index: 0;background:#f1f1f1;width: 100vw;transform: translateX(-50%);}
#menu-01 .thumb.active {opacity:1;transition-delay:1.5s;}
#menu-01 .thumb:after {display:block;content:'06.27';position:absolute;right:10px;top:-40px;font-size:24px;width:80px;height:80px;line-height:80px;font-weight:bold;color:#e77280;background:rgba(233, 233, 233, 0.8);border-radius:50%;text-align:center;z-index: 2;}
#menu-01 .thumb img {display:block;position: relative;z-index: 1;box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.3);}

#menu-01 .desc {padding:30px;background:#f1f1f1;width:100%;}
#menu-01 p.p02 {font-size:15px;line-height:30px;text-align:center;margin:0 auto;}
#menu-01 dl.family {margin:10px auto;display:table;}
#menu-01 dl.family.first {position:relative;margin:40px auto 0;padding-top:40px;}
#menu-01 dl.family.first:after {display:block;content:'';position:absolute;left:50%;top:0;transform:translateX(-50%);width:150px;height:1px;background:#b6b6b6;}
#menu-01 dl dt {display:inline-block;margin-right:30px;font-size:16px;font-weight:bold;}
#menu-01 dl dt i {width: 125px;display:inline-block;}
#menu-01 dl dt i b {font-weight:normal;font-size:15px;}
#menu-01 dl dt span {font-size:14px;}
#menu-01 dl dd {display:inline-block;font-size:18px;font-weight:bold;}


#menu-01 .cal {padding:40px 30px;background:#484848;}
#menu-01 .cal div.table {border:1px solid #fff;color:#fff;padding:15px;}
#menu-01 .cal div.table td {font-size:15px;height:36px;padding:0px 0px;text-align:center;}
#menu-01 .cal div.table td.tit {text-align: left;font-size:22px;padding: 0 0 20px 10px;}
#menu-01 .cal div.table td span {display:block;line-height:36px;background:#f67272;border-radius:50%;width:36px;margin:0 auto;}
#menu-01 .cal div.table td span {;}
@keyframes backgroundsize {
	0% {
		background:transparent;

	}
	50% {
		background:#f67272;
	}
	100% {
		background:transparent;

	}
}


#menu-02 h2 {font-size:24px;line-height:30px;font-weight: bold;}
#menu-02 .tit-desc {font-size:15px;line-height:24px;margin-top:20px;}
#menu-02 dl {margin-top:30px;}
#menu-02 dl dt {font-size:16px;line-height:24px;font-weight:bold;}
#menu-02 dl dd {position:relative;font-size:15px;line-height:24px;margin-top:15px;padding-left:15px;}
#menu-02 dl dd.copytext {padding-right:70px;}
#menu-02 dl dd:before {display:block;content:'';position:absolute;left:8px;top:11px;width:3px;height:3px;background:#454545;border-radius:50%;}
#menu-02 dl dd b {font-weight:bold;color:#e77280;}
#menu-02 dl dd u {position:relative;display: inline;box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.8);text-decoration: none;}
#menu-02 dl dd div{margin-top: 5px}

#menu-02 .map-wrap {position:relative;margin-top:20px;}
#menu-02 .map-wrap > p {position:absolute;left:0;bottom:0;width:100%;background:rgba(69, 69, 69, 0.8);z-index:100;color:#fff;text-align:center;font-size:14px;line-height:36px;}
div .link {margin:0 auto;background: #e5e5e5;padding:0;}
div .link a {display:block;text-align:center;display: flex;justify-content: center;align-items: center;padding:20px;}
div .link a img {width: 30px;/* display:block; */margin: auto 5px;}
#menu-02,
#menu-03,
#menu-04 {padding-top: 40px;}
.map-marker {padding:10px;width:200px;}
.map-marker h3 {margin-bottom:10px;font-size:16px;}
.map-marker p {font-size:14px;}

.copy {position:absolute;right:0;top: -5px;font-size:0;display:block;height: 30px;}
.copy:after {display:inline-block;content:'주소복사';font-size:14px;line-height:22px;border:1px solid #666;height: 30px;background-size:100%;padding: 0 10px;line-height: 28px;}

.tel {position:absolute;right:0;top:3px;font-size:0;display:block;height:24px;}
.tel:after {display:inline-block;content:'전화하기';font-size:14px;line-height:22px;border:1px solid #666;height:24px;background-size:100%;padding:0 5px;}

.alert {position:fixed;left:50%;top:50%;transform:translate(-50%, -50%);background:rgba(0, 0, 0, 0.3);color:#fff;border-radius:50px;padding:10px 20px;opacity:0;transition:opacity 0.3s ease;z-index: -1;}
.alert.active {opacity:1;z-index:100000000;}
